{
  "$schema": "https://opencode.ai/config.json",
  "model": "{{ coding_agents_opencode_settings.model }}",
  "small_model": "{{ coding_agents_opencode_settings.small_model }}",
  "permission": {{ coding_agents_opencode_settings.permission | to_nice_json(indent=2) }},
  "mcp": {{ coding_agents_opencode_mcp_servers | to_nice_json(indent=2) }}
}
